.pokemons-details-page {
  .navigation {
    position: relative;
    font-size: 1em;
    padding: 15px 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    
    a {
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      background-color: #8982ff;
      color: #e0faff;
      margin: 0px 15px;
      display: inline-block;
    }

    &:after {
      content: '';
      position: absolute;
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
      width: 100%;
      left: 0;
      bottom: -10px;
    }
  }

  .pokemons-details {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 50px repeat(3, auto);
    grid-template-areas: 
      "image image"
      "image image"
      "number name"
      "types types"
      "resistant resistant"
      "weaknesses weaknesses";
    justify-items: stretch;
    align-items: center;
    justify-content: space-around;
  
    color: #326a6d;
    font-size: 1.3em;
  
    @media screen and (min-width: 767px) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: 
        "image number name"
        "image number name"
        "image types types"
        "resistant resistant resistant"
        "weaknesses weaknesses weaknesses";
      justify-content: stretch;
    }
  
    @media screen and (min-width: 1023px) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
        "image number name"
        "image types types"
        "image resistant resistant"
        "image weaknesses weaknesses";
      justify-content: stretch;
    }
    
    .image {
      grid-area: image;
      justify-self: center;
  
      @media screen and (min-width: 1023px) {
        align-self: end;
        justify-self: end;
      }
    }
    
    .number {
      grid-area: number;
      font-weight: 900;
      color: #326a6d;
  
      &:before {
        content: "#";
        color: #bfb9af;
        padding: 0 5px;
        font-style: italic;
        font-size: 0.8em;
      }
    }
  
    .name {
      grid-area: name;
      font-weight: 700;
      font-style: italic;
    }
  
    .types {
      grid-area: types;
    }
    
    .resistant {
      grid-area: resistant;
    }
    
    .weaknesses {
      grid-area: weaknesses;
    }

    .loader {
      grid-area: loader;

      position: absolute;
      left: 50%;
    }
  }

  .loader {
    margin-top: 50px;
  }
}